{% include 'NavBar.html' %}
<br>
<br>
<br>

<link href="../static/borrowMedia.css" rel="stylesheet" type="text/css" />

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <script>
        function setCookie(userId) {
            document.cookie = userId
            }
              
              // Usage
            setCookie("user_1")
            console.log(document.cookie);

            
        function mediaAction(event, type) {
            event.preventDefault(); // Prevent the default form submission
            apiURL = 'http://127.0.0.1:5000/api/media/borrow';
            const mediaId = event.target.querySelector('input[name="media_id"]').value;
            const userId = document.cookie;

            // Create a JSON object with media_id and user_id
            const requestData = {
                media_id: mediaId,
                user_id: userId
            };

            if (type === "reserve")
            {
                apiURL = 'http://127.0.0.1:5000/api/media/reserve';
            
            // Send the POST request with the JSON body
            fetch(apiURL, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(requestData)
            })
            .then(response => response.json())  // Parse the response as JSON
            .then(data => {
                // Handle the response data here
                console.log('Success:', data);
                alert(`Success: ${JSON.stringify(data)}`);
            })
            .catch(error => {
                // Handle any errors here
                console.error('Error:', error);
            });
        }
        else {
            const mediaName = event.target.querySelector('h2#media_name').textContent;
            console.log("test");
            console.log(mediaName);
                const mediaDetails = {mediaId, mediaName };
                localStorage.setItem('mediaDetails', JSON.stringify(mediaDetails)); // Save user data to localStorage
                window.location.href = `itemPage`;

        }
        
        }
    </script>
    

    <div class="search-container">
        <input type="text" id="search" name="search" placeholder="Search...">
        <button class = "SearchButton" type="submit" onclick="searchFunction()">Search</button>
      </div>

<!-- 
need some kinda function that this takes the first 6 titles in the database
and then during the demo update the database and show that this is updated      
-->
      <div class="grid-container">
        <form onsubmit="mediaAction(event)">
            <input type="hidden" name="media_id" value="64f9c2a9f6a17c98d0e1b005">
            <button type="submit" class="gridLink">
                <div class="grid-item">
                    <img class ="thumbnail" src=".jpg">
                    <h2 id="media_name">Gourmet Recipes by Chef Oliver</h2>
                    <p>Paragraph of info</p>
                </div>
            </button>
        </form>
        

        <form onsubmit="mediaAction(event)">
            <input type="hidden" name="media_id" value="67339ffc268d647e800b6fe4">
            <button type="submit" class="gridLink">
                <div class="grid-item">
                    <img class ="thumbnail" src="../static/.jpg">
                    <h2 id="media_name">The Great Book by John Doe</h2>
                    <p>Paragraph of info</p>
                </div>
            </button>
        </form>


        <form onsubmit="mediaAction(event)">
            <input type="hidden" name="media_id" value="67339ffc268d647e800b6fdb">
            <button type="submit" class="gridLink">
                <div class="grid-item">
                    <img class ="thumbnail" src="../static/67339ffc268d647e800b6fdb.jpg">
                    <h2 id="media_name">The Secret Garden by Frances Hodgson Burnett</h2>
                    <p>Paragraph of info</p>
                </div>
            </button>
        </form>


        <form onsubmit="mediaAction(event 'reserve')">
            <input type="hidden" name="media_id" value="67339ffc268d647e800b6fdc">
            <button type="submit" class="gridLink">
                <div class="grid-item-reserve">
                    <img class ="thumbnail" src="../static/67339ffc268d647e800b6fdc.jpg">
                    <h2 id="media_name">The Lion King</h2>
                    <p>Paragraph of info</p>
                </div>
            </button>
        </form>


        <form onsubmit="mediaAction(event, 'reserve')">
            <input type="hidden" name="media_id" value="67339ffc268d647e800b6fec">
            <button type="submit" class="gridLink">
                <div class="grid-item-reserve">
                    <img class ="thumbnail" src="../static/67339ffc268d647e800b6fec.jpg";>
                    <h2 id="media_name">The Dark Knight</h2>
                    <p>Paragraph of info</p>
                </div>
            </button>
        </form>
    </div>


</body>
</html>

