<iframe src="NavBar.html" width="100%" frameborder="0"></iframe>
<link href="../static/itemPage.css" rel="stylesheet" type="text/css" />

<div class="headliner">
    <a class="returnButton" href="javascript:history.back()">&#8592; Return</a>
    <strong><a class="myBasket">My Basket</a></strong>
</div>



<div class="mainContainerBorrow">
<div class="itemDetails">
    <div class="grid-container">
        <div class="grid-item">Item 1</div>
        <!--
        each item has its dividers and shows the image and gets the relevant info from the database and stuff
        -->
        <div class="grid-item">Item 2</div>
        <div class="grid-item">Item 3</div>
</div>




</div>

<button class="checkoutButton" onclick="window.location.href='page.html'">Checkout</button>