{% include 'AdminNavbar.html' %}
<br><br><br>
<link href="../static/BorrowMedia.css" rel="stylesheet" type="text/css" />

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media Selection</title>
</head>
<body>
    <script>
        function selectMedia(event, mediaId, mediaName, vendorName, vendorContact, PPI, description) {
            event.preventDefault();
            const mediaDetails = {mediaId, mediaName, vendorName, vendorContact, PPI, description };
            localStorage.setItem('mediaDetails', JSON.stringify(mediaDetails)); 
            window.location.href = 'MediaProcurement';
        }
    </script>

    <div class="wrapped">
        <div class="search-container">
            <input type="text" id="search" name="search" placeholder="Search for Media" class="searchBar">
                <button class = "SearchButton" type="submit" onclick="searchFunction()"></button>
            </input>
        </div>

          
    
    
        <div class="grid-container" id="media-grid">
            {% for media in media %}
            <form onsubmit="selectMedia(event, '{{ media._id}}', '{{ media.title }}', '{{ media.vendor_name}}', '{{ media.vendor_contact}}', '{{ media.price_per_item}}', '{{ media.description}}')">
                <input type="hidden" name="media_id" value="{{ media._id }}">
                <div class="grid-item">
                    <img class="thumbnail" src="../static/images/{{ media.title }}.jpg" alt="{{ media.title }}">
                    <h2 id="media_title">{{ media.title }}</h2>
                    <p><strong>Author:</strong> {{ media.author }}</p>
                    <p><strong>Price Per Unit:</strong> {{ media.price_per_item }}</p>
                    <p><strong>Vendor:</strong> {{ media.vendor_name }}</p>
                    <p><strong>Contact:</strong> {{ media.vendor_contact }}</p>
                    <button type="submit" class="gridLink">Order</button>
                </div>
            </form>
            {% endfor %}
        </div>

        <!-- Pagination Controls -->
        <div class="pagination">
            {% if page > 1 %}
            <a href="{{ url_for('frontend.procureMediaChoices', page=page-1) }}" class="prev-btn">Previous</a>
            {% endif %}
            {% if page < total_pages %}
            <a href="{{ url_for('frontend.procureMediaChoices', page=page+1) }}" class="next-btn">Next</a>
            {% endif %}
        </div>
    </div>
    
</body>
</html>

<style>
    a.prev-btn {
        margin-right: 77px;
    }
    a.next-btn, a.prev-btn {
        right: 20px;
        top: 15.5%;
        position: absolute;
    }
</style>