body {

}

p
{
color: black;
}

.SearchButton {
    
    all: unset;
    background-image: url("images/SearchIcon.png");
    width: 30px; 
    height: 30px; 
    background-size: cover;
    position: relative;
    top: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-gap: 10px; /* Space between grid items */
    height: 57%;
    width: 80%;
    float: right;
}
.grid-item {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.grid-item-reserve {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.grid-item:hover {
   background-color: #ffdcad;
}

a.gridLink{
    display: grid;
}

.search-container
{
    margin-bottom: 60px;
    margin-left: 20%;
}

button.gridLink
{
    background-color: #e9b215;
    width: 80px;
    height: 34px;
    border: 1.5px solid #97730d;
}

form
{
    display: contents;
}

.thumbnail{
    height: 114px;
    width: 91px;
}


.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    color: black;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 116px;
    margin-left: 8px;
}
.close-btn:hover {
    color: #FF7043;
}

.cross
{
    height: 30px;
    width: 30px;
}

.searchBar
{
    height: 28px;
    width: 206px;
    box-shadow: none;
}


.container {
    display: ruby-text;
    margin-top: 286px;
    margin-left: 6px;
  }
  
  .filters {
    width: 16%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .filters h3 {
    margin-bottom: 15px;
    font-size: 18px;
    color: #333;
  }
  
  .filter-group {
    margin-bottom: 15px;
  }
  
  .filter-group label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
  }
  
  .filter-group select,
  .filter-group input[type="range"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .filter-group input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .apply-filters {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #e9b215;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
  }
  
  .apply-filters:hover {
    background-color: #b48502;
  }
  
  .content {
    flex-grow: 1;
    margin-left: 20px;
  }
  
input#author{
    width: 94%;
}

a.next-btn, a.prev-btn{
  right: 20px;
  top: 25%;
  position: absolute;
}