.mainContainerBorrow
{
    background-color: orange;
    width: 80%;
    height: 60%;
    margin-left: 100px;
    color: white;
}

.itemDetails
{
    height: 100px;
}

.grid-container
{
    display: flex;
    justify-content: space-between;
    height: 10%;
}

.grid-item
{
    padding: 10px 20px 0px 20px;
    border-right: 1px solid black;
    height: 530px;
    width: 100%;
}

.returnButton
{
    padding-bottom: 30px;
    margin-left: 100px;
    display: block;
    background-image: url('/Images/backArrow.png');
    color: black;
    text-decoration: none;
}

.headliner
{
    display: flex;
    width: 45%;
    justify-content: space-between;
}

a.myBasket
{
    font-size: 25px;
    position: absolute;
}

.checkoutButton
{
    background-color: orange;
    display: flex;
    position: relative;
    margin: 400px 0 0 452px;
    height: 40px;
    width: 100px;
    justify-content: center;
}

.thumbnail{
    height: 200px;
    width: 150px;
    display: flex;
    position: relative;
    margin: 85px 34px 35px 43px;
}

.mediaName
{
    margin-left: 43px;
}

input[type="date"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin: 143px 30px 0 0;
}


.error-message {
    color: red;
    font-size: 14px;
    display: none;
    margin-left: -23px;
}

.lateFee
{
    margin-top: 164px;
}

.deliveryType{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin: 143px -50px 0 0;
}